.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
  margin-left: auto !important ;
  margin-right: auto !important;
}

.titleInfo {
  width: fit-content;
}

.backgroundImg {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
